.home-container {
}

.home-header {
    margin: 0 6vw;
    width: 100%;
}

.home-header .header-text {

    width: 50%;
}

.typewriter p {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
  

.header-text h1 {
    color: white;
    font-size: 6vh;
}

.header-text p {
    width: 100%;
    color: white;
}