body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  overflow-y: overlay;
  background-color: #1e2222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
